@media screen and (max-width: 960px) {
html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
  #container{
 width: 100%;
 background-color: rgb(255, 255, 255);
 margin-right: 0;
 }
 .link{
  display: none;
 }
 #logo{
width: 30%;
margin-right: 0;
margin-left: 0;
margin-top: 25px;

}
#sign{
  display: none;
}
#start{
  margin-left: 20%;
  width: 35%;
  height: 10px;
  font-size: 10px; 
}
#toggles{
  width: 10%;
  display: block;
  margin-left: 15%;
  height: 10px ;
  margin-top: 35px;
}
#phonehero{
  display: none;
}
.button{
  width: 95%;
 }
 h1{
   padding-top: 20px;
   font-size: 60px;
   margin-bottom: 0; 
   width: 95%;
 }
 #bodysection1{
  padding-bottom: 200px;
 }
#bodyslider{
  width: 100%;
  height: 150px;
  margin-top: -180px;
}
.parabody1{
  width: 90%;
}
.coinpair{
  display: none;
}
.change{
  display: none;
}
.trade{
  display: none;
}
.price{
  display: none;
}
.buybutton{
  display: none;
}
.tableprice-head{
  border-top-right-radius: 40px;
}
#constructedtable{
  width: 90%;
  margin-right: 20px;
  margin-left: 20px;
}
h2{
  font-size: 40px;
}
#coinlink{
  font-size: 12px;
}
#inputbox{
  display: none;
}
#bodysection3{
  height: 1200px;
}
#buysell{
  width: 90%;
  margin-left: 20px;
  margin-top: 40px;
}
.body3para{
  margin-left: 20px;
  width: 90%;
}
.subtext{
  width: 90%;
  margin-left:20px ;
}
.subtext1{
  width:90%;
  margin-left: 20px;
  float: left;
}
#bodysection4{
 width: 100%;
}
.pigpara{
  width: 90%;
}
#bodysection5{
  margin-top: 50px;
  display: block;
  width: 100%;
  height: 850px;
}
.section4image{
  width: 40px;
}
.para5{
  font-size: 15px;
  width: 90%;
}
.section4text1{
  margin-left: 20px;
}
#pinkphone{
 width: 100%;
 height: 100%;
 background-color: rgb(192, 78, 157);
}
.pink{
  width: 100%;
}
#bodysection6{
  display: block;
  width: 100%;
  margin-top: 0px;

}
.sec6text{
  width: 85%;
  text-align: center;
  margin-left: 20px;
  margin-top: -50px;
  
}
.head6{
  font-size: 45px;
}
#bodysection7{
  width: 100%;
  height: 1250px;
}
.body7text{
display: block;
width: 93%;
padding-right: 20px;
}
#footer{
  width: 100%;
  height: 2650px;
}
#alltext{
  width: 90%;
  margin-top: 0;
}
}
