body{
  margin: 0;
  background-color:rgb(255, 255, 255);
top: 0;
}
#container{
  padding: 10px 10px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  background-color: white;
}
#toggles{
  color: navy;
  display: inline;
  margin-left: 10%;
  display:none;
}
#logo{
  margin-bottom: 0;
  margin-left: 10px;
  display: inline;
  margin-top: 30px;
  height: 32px;
  width: 10%;
  margin-right: 140px;
}
#sign{
  margin-left: 300px;
}

ul{
  padding: 0;
  list-style: none;
  float: right;
  
}
li{
  display: inline-block;
}
a{
  text-decoration: none;
  width: 25%;
 
  padding: 10px 10px;
  display:inline-block;
}
#start{
  margin-left: 60px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  background-color: navy;
  color: rgb(255, 255, 255);
  width: 70px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
font-family: 'Times New Roman', Times, serif;
}

#bodysection1{
 
  margin-top: 150px;
  margin-left: 20px;
  padding-bottom: 20px;
}
.button{
 background-color: navy;
 padding-right: 40px;
 padding-left: 40px;
 padding-top: 20px;
 padding-bottom: 20px;
 border-radius: 10px;
 color: white;
 margin-top: 30px;
}
h1{
  padding-top: 75px;
  font-size: 78px;
  margin-bottom: 0;
  
}
#phonehero{
  float: right;
  margin-left: 80px;
}
h2{
  top: 0;
  color: rgb(32, 23, 73);
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    margin-left: 20px;
}
#playstore{
  margin-top: 30px;
}
.playstore{
  width: 84px;
}
#bodyslider{
  height: 200px;
  bottom: 0;
 
}
.fa fa-search{
  float: right;
}
#inputbox{
  background-color: rgb(243, 238, 238) ;
  height: 30px;
  width: 270px;
  padding:10px; 
  border-radius: 15px;
  float:right;
  margin-bottom: 30px;
  margin-right: 20px;
 

}
#input{
  height:20px;
  width: 240px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgb(243, 238, 238) ;
}
#constructedtable{
  width: 97%;
  border-collapse: collapse;
  margin-left: 20px; 
}
.market{
 color: navy;

 text-align: center;
 border-bottom-left-radius: 40px;
 border-bottom-right-radius:40px ;
}
th{
  padding: 30px;
 background-color: beige;
  margin: 0;
  text-align: left;
}
.tablename{
  display: flex;
}
th:first-child{
  border-top-left-radius: 40px;
}
th:last-child{
  border-top-right-radius: 40px;
  
}

.coinlogo{
  vertical-align: middle;
  width: 35x;
  height: 35px;
  margin-right: 15px;
  margin-top: 15px;
}
b{
  font-size: 25px;
}
td{
  padding: 20px;
  background-color: whitesmoke;
 font-size: 20PX;
}
.new-table{
  display: none;
}
.arrow{
  vertical-align: middle;
  width: 30px;
  height: 20px;
}
.price{
  color: red;
}

button{
  background-color: navy;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 20px;
  color: white;
  border: none;
}
#bodysection3{
  background-color:#e8eadc;
  margin-top: 80px;
  padding-bottom: 60px;

}
#buysell{
  width: 630px;
  margin-top: 150px;

  
}

#section3text{
  max-width: 500px;
  float: right;
  margin-top: 50px;

}
.subtext{
  width: 230px;
  display: inline-block;
  margin-top: 30px;
 
}
.subtext1{
  width: 230px;
float: right;
margin-top: 30px;
}

.pigpara{
  font-size: 20px;
  width: 450px;
  margin-left: 20px;
}
h5{
  font-size: 30px;
}
.swiper-slide{
  width: 350px;
  height: 400px;
  background-color: antiquewhite;
  padding: 40px;
  float: left;
  margin-right: 30px;
 
}
.box-images{
  height: 150px;
  width: 150px;
}
#bodysection5{
  height: 450px;
  background-color:#f3f2f2e8;
  margin-top: 20px;
  padding-top: 30px;

}
#quotation{
  color:rgb(192, 78, 157);
  font-size: 150px;
}
.section4text1{
  float: left;
  width: 360px;
 
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 30px;
}
.section4image{
 float: left;
 margin-right: 20px;
 margin-bottom: 200px;
}




.para{
  font-size: 20px;
 line-height: 30px;
}
#bodysection6{
 background-color: rgb(192, 78, 157);
  color: white;
  margin-top: -50px;
  top: 0;
  padding-top: 100px;
  display: inline-flex;
  width: 100%;

}
.sec6text{
  width: 500px;
  margin-left: 20px;
}
#pinkphone{
  float: right;
  margin-left: 100px;
  
}

#bodysection7{
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  height: 470px;
}
.body7text{
  width: 250px;
  padding-top: 50px;
 float: left;
 margin-right: 60px;
 margin-left: 20px;
}
h4{
  font-size: 25PX;
  margin-left: 10px;
}
#footer{
  background-color: rgb(6, 6, 97);
  height: 1300px;
    clear: both;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.footsubtext{
  width: 220px;
  float: left;
  margin-right: 65px;
  margin-left: 15px;
  text-align: left;
  padding-top: 70px;
}
.socialmedia{
  color:rgb(6, 6, 97) ;
  background-color: white;
  display: inline;
  margin-right: 10px;
  padding: 5px;
  border-radius: 40px;
  margin-top: 20px;
}
.foottext{
  width: 120px;
  float: left;
  margin-right: 60px;
  text-align: left;
  padding-top: 40px;
 padding-bottom: 80px; 
}
.foottext-resources{
  width: 100px;
  float: left;
  margin-right: 60px;
  text-align: left;
  padding-top: 40px;
 padding-bottom: 80px; 
}
.foottext-company{
  width: 100px;
  float: left;
  margin-right: 60px;
  text-align: left;
  padding-top: 40px;
 padding-bottom: 80px; 
}

.footlist{
  padding: 10px;
}
#socialmedia{
padding: 30px;
width: 120px;
}
#alltext{
  text-align: left;
  width: 930px;
  float: right;
  margin-right: 20px;
  border-top: 2px solid white;
  margin-top: 70px;
}
.main-carousel{
  height:500px ;
  margin-left: 20px;
  margin-right: 20px;
  
}
#box1{
   background-color:rgb(210, 197, 219) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
  
}
#box2{
   background-color:rgb(175, 178, 143) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;

  
}
#box3{
   background-color:rgb(149, 158, 186) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
 
}
#box4{
   background-color:rgb(185, 172, 142) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
}
#box5{
   background-color:rgb(153, 153, 118) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
}
#box6{
   background-color:rgb(162, 123, 154) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
}
#box7{
   background-color:rgb(108, 178, 153) ;
   padding: 30px;
   border-radius: 15px;
   width: 300px;
   height: 430px;
   margin-right: 30px;
}
.couresel-image{
   width: 150px;
   height: 150px;
}
h5{
   font-size: 30px;
}
.couresel-para{
   font-size: 20px;
   line-height: 30px;
}
.imgslide{
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}
.main-carousel1{
  height:150px ;
  margin-left: 20px;
  margin-right: 20px;
  
}
#coinlink{
  display: inline-flex;
  width: 400px;
  margin-left: 20px;
}
